body {
	display: flex;
	margin: 0px;
}

body,
input,
button,
a {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

fieldset {
	color: #696969;
	font-size: small;
}

#imgContainer {
	flex: 1 1 auto;
	height: 100vh;
	max-width: 40vw;
	background-image: url("https://plus.unsplash.com/premium_photo-1728613099006-1eb71e78fd21?q=80&w=1288&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
	background-size: cover;
}

#formContainer {
	max-width: 30em;
	display: flex;
	flex-direction: column;
}

#notice,
#formId,
a,
button {
	font-weight: bold;
}

a {
	text-decoration: none;
	color: #FA880F;
}

button {
	color: #FFF;
}

.card {
	padding: 2em;
	flex: 1;
	box-sizing: border-box;
}

fieldset {
	display: flex;
	gap: 12px;
	border: 0px;
}

.formField {
	flex: 0 1;
}

#notice,
#submitContainer {
	background: #FAFAFA;
}

#formShadow {
	height: 6px;
	width: 100%;
	background: linear-gradient(to bottom, #DCDCDC, #FAFAFA);
}
